<mat-form-field appearance="outline" [class]="class()">
    <mat-label>{{label()}}</mat-label>
    <input matInput
        [type]="type"
        [formControl]="control"
        [placeholder]="placeholder()"
        [class]="inputClass()"/>
    <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
        class="px-2">
        <mat-icon>{{icon}}</mat-icon>
    </button>
    <mat-error [appValidationError]="control" class="text-danger"></mat-error>
</mat-form-field>
